body{
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    line-height: 1;
}
.button{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background: rgb(57, 141, 197);
    padding: 1em 3em;
    color: aliceblue;
    border-color: black;
}
.modal{
    display:none;
    position: fixed;
    z-index:1;
    left:0;
    top:0;
    height:100%;
    width:100%;
    overflow:auto;
    background-color: rgba(0,0,0,.4);
}
.modalContent{
    background-color:white;
    margin: 20% auto;
    padding: 25px;
    width: 80%;
    box-shadow: 0 10px 10px 0 rgba( 0,0,0,.7);
}
.closeButton{
    color:grey;
    float: right;
    font-size: 30px;
}
.closeButton:hover{
    color:black;
    text-decoration:none;
    cursor:pointer;
}
button:hover{
background-color: rgb(211, 143, 17)
}